/* Common share styles */
body {
    font-family: 'Mulish', sans-serif;
}

header,
main {
    width: 80%;
    margin: 10px auto;
}

img {
    width: 100%;
}

.title,
.deals-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.discription {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.btn-1,
.btn-two {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.2rem;
}

/* Header styles  */
/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-part {
    display: flex;
    align-items: center;
}

.show-on-mobile {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 44px;
}

nav ul a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}

nav ul li:first-child a {
    color: red;
    font-weight: 700;
}

.travel-text {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.travel-span {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

/* main part styles */
/* Banner styles */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
    /* height: 90vh; */
    border-radius: 16px;
    margin: 0 auto 100px auto;

}

.text-discrip {
    text-align: center;
    padding-top: 110px;
}

.explore-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin: 0 auto;
    margin-bottom: 24px;
}

.discription-dolor {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 48px;
}

.input-container {
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.inputbox-1,
#when,
#select,
.btn-1 {
    width: 174px;
    height: 52px;
    border-radius: 8px;
}

.inputbox-1 {
    height: 47px;
}

/* Our Popular Tour  */
.our-popular-tour {
    display: flex;
    justify-content: space-between;
}

.text-content {
    width: 45%;
}

.img-hill {
    width: 45%;
}

.img-hill img {
    width: 100%;
}

.poppular-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.discription-two,
.list {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.discription-three {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 60px;
}

/* nine-img container styles  */
.destinationa-peragrap {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
}

.Destination-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.discrition-four {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.first-two-img,
.second-three-img,
.last-two-img {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.first-two-img .img {
    width: 49%;
    position: relative;
}

.place {
    position: absolute;
    top: 100px;
    left: 250px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 800;
}

.first-two-img .img img {
    width: 100%;
}

.second-three-img .img-1 {
    width: 32%;
    position: relative;
}

.second-three-img .img-2 {
    width: 40%;
    position: relative;
}

.second-three-img .img-3 {
    width: 24%;
    position: relative;
}

.place-2 {
    top: 100px;
    left: 120px;
    position: absolute;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 800;
}

.last-two-img .img-1 {
    width: 40%;
}

.last-two-img .img-2 {
    width: 58%;
}

/* why choose us section styles  */

.two-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    gap: 16px;
}

.card {
    width: 49%;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.card img {
    width: 64px;
}

.card-title {
    color: #131318;
    font-size: 1rem;
    font-weight: 800;
}

.discription-five {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

#last-card {
    display: flex;
    justify-content: center;
}

/* <!-- Deals and Discount stylels 3 box  --> */
.deals-full-container-1 {
    height: 670px;
}

.deals-full-container-2-3 {
    height: 510px;
}

.card-translate-1-3 {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 480px;
    transform: translate(530px, -440px);
    position: relative;
    padding: 50px;
}

.card-translate-2 {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 480px;
    transform: translate(45px, -440px);
    position: relative;
    padding: 50px;
}

.discription-title {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.min-container {
    display: flex;
    gap: 20px;
}

.mini-text {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.btn-div {
    margin: 50px auto;
    text-align: center;
}

.btn-praimary {
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    font-size: 1.2rem;
    padding: 14px;
}

/* <!-- A simple perfect place get lost html sectionn  --> */
.simple-full-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.content-text {
    margin-right: 28px;
    width: 49%;
}

.img40089 {
    width: 49%;
}

.simpe-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0px;
}

.transform-title {
    transform: translate(780px, -300px);
    position: relative;
    width: fit-content;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

/* <!-- newsletter html full section   */
.newsletter-full-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.newstext-container {
    border: 1px solid #FF5400;
    border-radius: 8px;
    padding: 10px;
    width: 40%;
}

.news-image {
    width: 58%;
}

.news-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    width: 80%;
}

.discription-news {
    width: 80%;
}

section .newsletter-full-container input {
    width: 393px;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.translate-travel {
    transform: rotate(-30deg);
    translate: 800px -240px;
    position: relative;
    width: fit-content;
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 16px;
    background: #FF5400;
}

/* Footer part styles */
footer {
    background: rgba(19, 19, 24, 0.05);
    margin: 0 auto;
    text-align: center;
}

.discription-footer {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.last-flex {
    display: flex;
    justify-content: center;
}

.last-flex img {
    width: 5%;
    height: 8vh;
    margin-top: 20px;
}

.abc {
    margin-right: 50px;

}

.hide {
    display: none;
}

/* mobile devices 600px */
@media screen and (max-width: 600px) {

    .nav-list {
        display: none;
    }

    .show-on-mobile {
        display: inline-block;
    }

    .left-part {
        /* justify-content:flex-start; */
    }

    .banner {
        width: 100%;
        height: 130vh;
    }

    .explore-title {
        font-size: 1.5rem;
        padding: 10px 0 0px 0;
    }

    .discription-dolor {
        margin-bottom: 0px;
    }

    .text-discrip {
        padding: 0px;
        font-size: 0.9rem;
        padding: 0px 15px 0px 15px;
    }

    .input-container {
        width: 70%;
        padding: 10px;
        flex-direction: column;
        margin: 0 auto;
    }

    .inputbox-1,
    #when,
    #select,
    .btn-1 {
        width: 100%;
        margin-bottom: 16px;
    }

    .inputbox-1 {
        padding: 0;
    }

    .our-popular-tour {
        flex-direction: column;
    }

    .img-hill {
        width: 100%;
    }

    .text-content {
        width: 100%;
    }

    .first-two-img,
    .second-three-img,
    .last-two-img {
        flex-wrap: wrap;
    }

    .first-two-img .img {
        width: 100%;
    }

    .place {
        top: 50px;
        left: 100px;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .place-2 {
        top: 70px;
        left: 100px;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .second-three-img .img-1,
    .second-three-img .img-2,
    .second-three-img .img-3 {
        width: 100%;
    }

    .last-two-img .img-1 {
        width: 100%;
    }

    .last-two-img .img-2 {
        width: 100%;
    }

    .two-card {
        display: block;
        margin: 0;
        gap: 0;
    }

    .card {
        width: 70%;
        padding: 16px;
        height: auto;
        margin-bottom: 16px;
    }

    .deals-banner-img img {
        height: 550px;
        margin-bottom: 16px;
    }

    .card-translate-1-3 {
        width: 80%;
        transform: translate(7%, -136%);
        padding: 10px;
    }

    .card-translate-2 {
        width: 80%;
        transform: translate(7%, -136%);
        padding: 10px;
    }

    .simple-full-container {
        flex-direction: column;
    }

    .content-text {
        width: 100%;
        margin-bottom: 16px;
    }

    .img40089 {
        width: 100%;
    }

    .transform-title {
        transform: translate(10px, -300px);
        width: 50%;
        margin-top: 20px;
        margin-left: 10px;
    }

    .newsletter-full-container {
        flex-direction: column;
    }

    .newstext-container {
        padding: 16px;
        margin-bottom: 16px;
        width: 80%;
    }

    .news-image {
        width: 100%;
    }

    section .newsletter-full-container input {
        width: 200px;
        height: 45px;
        margin-bottom: 10px;
    }

    .translate-travel {
        display: none;
    }

    footer {
        background: rgba(19, 19, 24, 0.05);
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .last-flex {
        display: flex;
        justify-content: center;
    }

    .last-flex img {
        width: 5%;
    }


}

/* lakkptop viwe  */
@media screen and (min-width: 992px) {}