/* Common share styles */
body {
    font-family: 'Mulish', sans-serif;
}

/* Header styles  */
/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 135px 49px 135px;
}

.left-part {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 44px;
}

nav ul a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}

nav ul li:first-child a {
    color: red;
    font-weight: 700;
}

.travel-text {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    width: 50%;
}

nav .img-logo {
    height: 50px;
}

.travel-span {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

/* main part styles */
/* Banner styles */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 79%;
    height: 500px;
    margin: 0 135px 100px 160px;
    border-radius: 16px;
}

.explore-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding: 80px 287px 0px 287px;
}

.discription {
    padding: 0px 247px 48px 247px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.input-container {
    margin: 0px 185px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    width: 750px;
    height: 52px;
}

.inputbox-1,
#when,
#select,
.box-4 {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    margin-right: 10px;
}

.btn-1 {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}
/* Our Popular Tour  */


/* Footer part styles */
/* mobile devices 600px */
@media screen and (max-width: 600px) {
    body {
        margin: 0px auto;
    }

    nav {
        margin: 0px auto;
        flex-direction: column;
    }

    .left-part {
        text-align: center;
        justify-content: center;
    }

    .img-logo {
        width: 50px;
    }

    .travel-text {
        margin: 0px;
    }

    .right-part {
        flex-direction: column;
    }

    .right-part {
        display: none;
    }
    .banner{
        background-position: 100%;
        object-fit: cover;
    }
}