/* Common share styles */
body {
    font-family: 'Mulish', sans-serif;
}

.btn-1,
.btn-two {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
}

/* Header styles  */
/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 52px 135px 49px 135px;
}

.left-part {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 44px;
}

nav ul a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}

nav ul li:first-child a {
    color: red;
    font-weight: 700;
}

.travel-text {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    width: 50%;
}

nav .img-logo {
    height: 50px;
}

.travel-span {
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}

/* main part styles */
/* Banner styles */
.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 79%;
    height: 500px;
    margin: 0 135px 100px 160px;
    border-radius: 16px;
}

.explore-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding: 80px 287px 0px 287px;
}

.discription {
    padding: 0px 247px 48px 247px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.input-container {
    margin: 0px 185px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    width: 750px;
    height: 52px;
}

.inputbox-1,
#when,
#select,
.box-4 {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    margin-right: 10px;
}

/* Our Popular Tour  */
.our-popular-tour {
    display: flex;
    justify-content: space-evenly;
}

.text-content {
    max-width: 577px;
    text-align: left;
}

.poppular-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.discription-two,
.list {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.discription-three {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 60px;
}

/* nine-img container styles  */
.Destination-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.discrition-four {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.destinationa-peragrap {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
}

.img-and-container-full {
    margin: 0px 135px;
}

.first-two-img,
.second-three-img,
.last-two-img {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

/* why choose us section styles  */
.p-h2-container{
  
}
.title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.discription- {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.two-card{
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-title {
    color: #131318;
    font-size: 1rem;
    font-weight: 800;
}

.discription-five {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
#last-card{
    margin: 0px 435px;
}

/* Footer part styles */
/* mobile devices 600px */
@media screen and (max-width: 600px) {
    body {
        margin: 0px auto;
    }

    nav {
        margin: 0px auto;
        flex-direction: column;
    }

    .left-part {
        text-align: center;
        justify-content: center;
    }

    .img-logo {
        width: 50px;
    }

    .travel-text {
        margin: 0px;
    }

    .right-part {
        flex-direction: column;
    }

    .right-part {
        display: none;
    }

    .banner {
        background-position: 100%;
        object-fit: cover;
    }
}